

@keyframes indenter {
    0%   {text-indent: 10px;}
    25%  {text-indent: 0px;}
    50%  {text-indent: -10px;}
    100% {text-indent: 0px;}
  }
 
      .EditFrameWindow{
          width: 85%;
      margin: auto;
      border-radius: 1vh;
      position: relative;
     height: 80%;
      top: 10%;
      border-style: solid;
      z-index: 1;
      background-color: #F8F8F8;
      display: block;
      border-color: grey;
      border-width: .03vh;
      box-shadow: 0 2px 54px #9a9a9a59;
      transition: .2s;
          }
 
          .EditFrameWindow:hover{
          box-shadow: 0 2px 54px #9a9a9a8f;
          background-color: white;
          transition: .4s;
      }
 
  
      .mainFlashWindow{
          width: 70%;
          margin: auto;
          border-radius: 0.5vh;
          position: relative;
          height: 50%;
          top: 20%;
          border-style: solid;
          z-index: 1;
          background-color: #F8F8F8;
          display: block;
          border-color: grey;
          border-width: .03vh;
          box-shadow: 0 2px 54px #9a9a9a59;
          transition: .2s;
          }
 
      .mainFlashWindow:hover{
          box-shadow: 0 2px 54px #9a9a9a8f;
          background-color: white;
          transition: .4s;
      }
 
      .appHeader{
          position: absolute;
          top: 0;
          left:0;
          width: 100%;
          height: 5.5vh;
          background-color: #333333;
      }
 
      .mainButton{
          width: 25%;
      transition: .34s;
      position: relative;
      border-radius: .5vh;
      top: 7vh;
      padding-top: 3vh;
      max-height: 22vh;
      }
 
      .mainButton:hover{
          cursor: pointer;
          background-color:#d8e9fd;
          box-shadow: 0 2px 54px #9a9a9a57;
          transition: .34s;
          text-indent: 0px;
          color: rgb(0, 0, 95);
          transition: .34s;
          animation-name: indenter;
          animation-duration: .3s;
      }
 
      .inputClass{
          width: 37%;
          left: 31.2%;
          margin: 0 auto;
          position: relative;
          height: 5vh;
      }
 
      .button{
          height: 2.5vh;
          width: 12%;
          background-color: #004986;
          font-size: 1.5vh;
          border-radius: 0.4vh;
          color: white;
          left: 43.5%;
          font-size: 2vh;
          font-weight: 500;
          text-align: center;
          top: 3vh;
          position: relative;
          transition:.2s
      }
 
      .button:hover{
          background-color: #0170BC;
          cursor: pointer;
          transition: .2s;
      }


      .home_icon{
          height: 5.5vh;
          opacity: 100;
          transition:.2s;
      }
      .home_icon:hover{
          /* box-shadow: 0 2px 54px #ffffff57; */
          -webkit-filter:  drop-shadow(0px 2px 25px rgb(251, 255, 0));
          cursor: pointer;
          opacity: 100;
          transition: .2s;
      }

 
      .hamburg_icon{
          height: 5.5vh;
          opacity: 0;
          transition:.2s;
      }
      .hamburg_icon:hover{
          /* box-shadow: 0 2px 54px #ffffff57; */
          -webkit-filter: drop-shadow(0px 2px 25px rgb(251, 255, 0));
          cursor: pointer;
          opacity: 100;
          transition: .2s;
      }
 
      .title_menu{
          text-align: center;
          font-size: 4vh;
          position: relative;
          top: 3vh;
      }
 
      .title_description{
          font-size: 2vh;
          text-align: center;
          position: relative;
          top:3vh;
      }
 
      .exit_button{
          width: 2vh;
          border-radius: 100vh;
          height: 2vh;
          background-color: rgb(88, 0, 0);
          transition: .2s;
      }
      .exit_button:hover{
          cursor: pointer;
          background-color: red;
          transition: .2s;
      }
 
      .addFeatures{
          font-size: 2vh;
      height: 4vh;
      /* width: 10%; */
      text-align: center;
      top: 0.7vh;
      border-radius: 1vh;
      position: relative;
      transition: .5s;
      color: white;
      cursor:pointer;
      /* left: 17vh; */
      cursor: pointer;
      }
 
      .addFeatures:hover{
          -webkit-filter: drop-shadow(0px 2px 25px rgba(0, 255, 149, 0.336));
          cursor: pointer;
          /* transform: rotate(360deg); */
          transition:.4s;
      }
 
      .emailIcon{
          transition: .8s;
      }
 
      .emailIcon:hover{
          cursor: pointer;
          transform: rotate(360deg);
          transition: .5s;
      }
 
  .MT_Apply{
      font-size: 2vh;
      width: 10%;
      background-color: #0000b4;
      float: right;
      text-align: center;
      border-radius: 1vh;
      transition: .2s;
      color:white;
  }
 
  .MT_Apply:hover{
      background-color: #0000ef;
      cursor: pointer;
      transition:.2s;
      color:white;
  }
 
  .MT_Colheader{
      text-align: left;
      background-color: rgb(53, 72, 182);
      font-size: 2vh;
      border-style: solid;
      border-width: .1vh;
      border-color: black;
      margin: .1vh;
      color: white;
      text-indent: .5vh;
  }
 
  .MT_Colholder{
      height: 4%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
 
  .MT_Rowdata{
      text-align: left;
      /* background-color: rgb(235, 235, 235); */
      font-size: 1.5vh;
      border-style: solid;
      border-width: .05vh;
      border-color: #ffffff;
      margin: .1vh;
      color: rgb(0, 0, 0);
      /* text-indent: .5vh; */
      min-height: 6vh;
      word-break: break-word;
  }
 
  .MT_Rowdata input{
 
      border-color: #666666;
 
  }
 
  .MT_RowHolder{
      /* background-color: #c7c7c7; */
       margin-top: 0.2vh;
       max-height: 60%;
       min-height: 60%;
       display:flex;
       flex-direction: column;
       overflow-y: scroll;
       border-bottom-style: solid;
       border-bottom-width: .1vh;
  }
 
  .MT_Row_Dropdown{
      width: 9.35%;
      /* height: 3vh; */
      cursor: pointer;
      /* top: 1.5vh; */
      font-size: 1.6vh;
      /* position: relative; */
      background-color: white;
      border-radius: .25vh;
      text-align: center;
      border-style: solid;
      /* border-width: .05vh; */
      border-color: #ababab00;
      margin: .1vh;
      /* font-weight: bolder; */
      color: rgb(0, 0, 0);
      word-break: break-word;
      outline: none;
      transition: .2s;
  }
 
  .MT_Row_Dropdown:hover{
      transition: .2s;
      box-shadow: 0 12px 32px #9a9a9a9b;
  }
 
  .dull_background{
      position: absolute;
      top: -1%;
      z-index: 1;
      left: -1%;
      width: 101%;
      overflow: hidden;
      height: 101%;
      background-color: rgba(0, 0, 0, 0.623);
  }
 
  .SelectionHolder{
      height: 4%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: .5vh;
      margin-bottom: 0.5vh;
      border-bottom-style: solid;
      border-bottom-width: .01vh;
      padding-bottom: 2vh;
  }
 
  .StatusSelectionHolder{
      height: 4%;
      display: flex;
      flex-direction: row;
      top: 3vh;
      position: relative;
      justify-content: flex-start;
      margin-top: .5vh;
      margin-bottom: 0.5vh;
      border-bottom-style: solid;
      border-bottom-width: .01vh;
      padding-bottom: 2vh;
  }
 
  .ViewBanner{
 
      height: 3vh;
      display: flex;
      flex-direction: row;
      top: 3vh;
      position: relative;
      justify-content: flex-start;
      margin-top: .5vh;
      margin-bottom: 0.5vh;
      padding-bottom: 2vh;
 
  }
 
  .refreshIcon{
      width: 4vh;
      left: 2vh;
      position: relative;
      transition:.4s;
      cursor:pointer
  }
 
  .refreshIcon:hover{
      /* transform: rotate(360deg); */
      cursor:pointer;
 
  }
 
  .refreshCaption{
      font-style: italic;
      font-size: 1.6vh;
      width: 87%;
      left: 63%;
      top: -.6vh;
      text-align: center;
      cursor: pointer;
      position: relative;
      font-weight: bolder;
      transition:.3s
  }
 
  .MT_MenubarOption{
      display: flex;
      cursor: pointer;
      transition:.4s;
      width:15vh;
  }
  .MT_MenubarOption:hover p{
  text-decoration: underline;
  transition: .2s;
  font-size:2vh;
  top: -1.2vh;
  left: 50%;
  }
 
  .MT_MenubarOption:hover img{
      transform: rotate(360deg);
  }
 
  .AddCaption{
     font-style: italic;
      font-size: 1.6vh;
      width: 14vh;
      top: -.6vh;
      cursor: pointer;
      text-align: center;
      position: relative;
      font-weight: bolder;
      transition: .3s;
  }
 
  .MT_MenubarOptionA{
      display: flex;
      transition: .4s;
      cursor: pointer;
      left: 15vh;
      position: relative;
  }
  .MT_MenubarOptionA:hover p{
      text-decoration: underline;
      transition: .2s;
      font-size: 2vh;
      top: -1.2vh;
      left: 6%;
  }
 
  .MT_MenubarOptionA:hover img{
      transform: rotate(360deg);
  }
 
  .MT_RowResult{
      color:black;
  }
 
  .addHolder{
      display: flex;
      justify-content: space-evenly;
      max-height: 32vh;
      overflow-y: scroll;
  }
 
  .MT_PI_Addholder{
      display: flex;
      flex-direction: column;
      padding: 2vh;
      border-style: solid;
      border-width: .1vh;
      height: 100%;
      border-color: #7b7b7b;
  }
 
  
  .Edit_Add_Button{
      height: 2.5vh;
      border-radius: 0.4vh;
      color: white;
      font-weight: 500;
      text-align: center;
      position: relative;
      transition: .2s;
      background: #00972e;
      z-index: 2;
      width: 23vh;
      margin-bottom: 5px;
      font-size: 2vh;
      left: 69%;
      top: 16vh;
      cursor: pointer;
  }
 
  .Edit_Add_Button:hover{
  background: #00b637;
  }
 
  .SubmitEditor{
      font-size: 3vh;
      width: 13%;
      background-color: #06a400;
      /* float: right;
      left: -8vh; */
      text-align: center;
      border-radius: 1vh;
      transition: .2s;
      color: white;
      position: relative;
      cursor: pointer;
      top: -1vh;
      margin: .3vh;
  }
 
  .SubmitEditor:hover{
      background-color: #06be00;
      transition: .2s;
  }
 
  .draftResult{
      display:flex; flex-direction:row; margin:2vh;
      cursor: pointer;
      transition: .2s;
  }
 
  .draftResult:hover{
      transition: .2s;
      text-indent: 2vh;
      box-shadow: 0 12px 12px #00000038;
      }
 
  
  
  .errorMessage{
     position: absolute;
      height: 3vh;
      width: 30%;
      left: 35%;
      font-size: 2vh;
      border-width: .1vh;
      top: 40%;
      background-color: #ffacac;
      color: rgb(95, 0, 0);
      border-style: solid;
      border-color: rgb(61, 0, 0);
      text-align: center;
      z-index: 3;
  }
 
  .successMessage{
      position:absolute;
      height: 3vh;
      width:30%;
      left:35%;
      background-color: #acffb0;
      color: rgb(0, 95, 8);
      border-style: solid;
      border-color: rgb(0, 61, 10);
      text-align: center;
      font-size: 2vh;
      border-width: .1vh;
      top: 40%;
      z-index: 3;
  }
 
  .wildSearchDiv{
  display: flex;
      flex-direction: row;
      width: 44vh;
      left: 34.6%;
      background-color: #e4e4e4;
      height: 4vh;
      border-radius: 1.1vh;
      border-style: solid;
      top: -1vh;
      position: relative;
      padding: .3vh;
      cursor: pointer;
      border-color: #a7a7a7;
      border-width: .1vh;
      transition: .2s;
      margin-bottom: 2vh;
  }
 
  .wildSearchDiv:hover{
      background-color: #cdd5ff;
      transition: .2s;
      border-color: #0300be;
      box-shadow: 0 12px 32px #cfcfcf9b;
  }
 
  
  .piD_class{
      font-size: 3vh;
      text-align: center;
     color: #0000e8;
      text-decoration: underline;
      cursor: pointer;
      transition:.2s;
  }
 
  .piD_class:hover{
      transition:.2s;
      color: #0000e8;
      box-shadow: 0 12px 32px #98abff9b;
 
  }
 
  select:active, select:hover {
    outline-color: rgb(0, 4, 255)
  }
 
  .statusCheckHolder{
      margin-top: 4.2vh;
      padding-top: 4vh;
      max-height: 67%;
      min-height: 70%;
      display: flex;
      flex-direction: row;
      overflow-y: scroll;
      overflow-x: hidden;
      justify-content: space-evenly;
  }
 
  .statusDiv:hover{
      transition:.2s;
      color: #000000;
      box-shadow: 0 12px 32px #00000069;
      cursor: pointer;
  }
 
  .statusDiv{
      transition: .2s;
      color: #111111;
      box-shadow: 0 8px 20px #dadada9b;
  }
 
  .reasonHolderReasons{
      width: 20%;
      height: 3vh;
      /* margin: 0 auto; */
      left: 40%;
      font-weight: 700;
      /* text-align: center; */
      font-size: 1.5vh;
      text-align-last: center;
      position: relative;
  }
 
  .buttonTouch{
      display: flex;
      width:20%;
      transition: .2s;
  }
 
  .buttonTouch p{
      transition: .2s;
  }
  .buttonTouch:hover p{
      transition: .2s;
      text-indent: .8vh;
      text-decoration: underline;
  }
 
  
  
  .statusFrameComponent{
      border-color: rgb(168, 168, 168);
      background-color: #f5f5f5;
      border-style: solid;
      border-width: .01vh;
      height: 45vh;
      border-radius: .3vh;
      overflow-y: scroll;
  }
 
  
  .status_img_selector{
      position: relative;
      transition: 0.4s;
      top: .5vh;
      cursor: pointer;
      height: 3.5vh;
  }
 
  
  .status_img_selector:hover{
      transform: rotate(360deg);
      transition: .4s;
  }
 
  .ViewHolder{
      margin-top: 4.2vh;
      /* max-height: 67%;
      min-height: 65%; */
      display: flex;
      flex-direction: row;
      /* overflow-y: scroll;
      overflow-x: hidden; */
      justify-content: flex-start;
  }
 
  .viewHeader{
      text-align: left;
      background-color: #eaeaea;
      border-style: solid;
      border-width: .01vh;
      padding: .6%;
      font-size: 1.7vh;
      border-color: #b7b7b7;
      height: 2vh;
  }
 
  .ViewEpicRow{
      background-color: #ebedff;
      height: 4vh;
      cursor: pointer;
      border-bottom-style: solid;
      padding: .6%;
      border-bottom-width: .1vh;
      border-bottom-color: rgb(153, 153, 153);
      transition: .2s;
  }
 
  .ViewEpicRow:hover{
    background-color: #cfd3ff;
    transition: .2s;
  }
 
  .viewCardHolder{
      /* margin-top: 4.2vh; */
      max-height: 65%;
      min-height: 65%;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      overflow-x: hidden;
      justify-content: flex-start;
      font-size: 1.5vh;
  }
 
  .viewFeature{
      /* min-height: -1vh; */
      padding: .6%;
      flex-direction: row;
      border-bottom-style: solid;
      border-bottom-width: .01vh;
      /* padding-bottom: 4.75%; */
      border-bottom-color: #d4d4d4;
  }
 
  
  .viewStatCard{
      font-weight: bolder;
  }
 

  
  .adminRoleOption{
      width: 20%;
      background-color: blue;
      border-radius: .5vh;
      color: white;
      font-size: 3.75vh;
      height: 5vh;
      text-align: center;
      cursor: pointer;
      transition: .2s;
  }
 
  .adminRoleOption:hover{
      transition:.2s;
      background-color:rgb(0, 140, 255);
      animation-name: indenter;
      animation-duration: .3s;
  }
 
  
  .adminRoleOption_O{
      width: 20%;
      background-color: rgb(255, 174, 0);
      border-radius: .5vh;
      color: white;
      font-size: 3.75vh;
      height: 5vh;
      text-align: center;
      cursor: pointer;
      transition: .2s;
  }
 
  .adminRoleOption_O:hover{
      transition:.2s;
      background-color:rgb(255, 217, 0);
      animation-name: indenter;
      animation-duration: .3s;
  }
 
  
  .adminRoleOption_G{
      width: 20%;
      background-color: rgb(0, 196, 16);
      border-radius: .5vh;
      color: white;
      font-size: 3.75vh;
      height: 5vh;
      text-align: center;
      cursor: pointer;
      transition: .2s;
  }
 
  .adminRoleOption_G:hover{
      transition:.2s;
      background-color:rgb(2, 255, 23);
      animation-name: indenter;
      animation-duration: .3s;
  }
 
  .adminRemoveButton{
      width: 15vh;
      font-size: 2vh;
      margin: 1vh;
      text-align: center;
      color: white;
      background-color: rgb(99, 0, 0);
      border-radius: 1.1vh;
      cursor: pointer;
  }
 
  .adminRemoveButton:hover{
      transition:.2s;
      animation-name: indenter;
      background-color: rgb(218, 0, 0);
      animation-duration: .3s;
 
  }
 
  
  .viewScreenDataButton{
      font-size: 2vh;
      width: 13%;
      text-align: center;
      left: 10%;
     /* font-weight: bold; */
      background-color: #020092;
      border-radius: 1vh;
      color: white;
      height: 2.5vh;
      position: relative;
      transition:.2s
  }
 
  .viewScreenDataButton:hover{
  transition:.2s;
  text-indent: .4vh;
  background-color: #0603b8;
  cursor: pointer;
  }
 
  .previewScreen_Holder{
      min-height: 61.2vh;
      background-color: rgb(143, 143, 143);
      width: 99%;
      position: relative;
      top: 3vh;
      left: .5%;
  }


  .adminMenuOptions{
    display: flex;
    flex-direction: column;
    width: 15%;
    float: left;
    justify-content: center;
    flex-wrap: wrap;
    height: 52vh;
    border-right-style: solid;
    border-width: .1vh;
    border-color: grey;
    transition: .3s;
    font-size: 2vh;
  }

  .adminMenuOptions:hover{
      background-color: rgba(252, 252, 252, 0);
      color: rgb(17, 0, 172);
      transition: .2s;
      width:20%;
      font-size: 2.5vh;
  }

  .amberButton{
    color: rgb(17, 17, 17);
    text-align: left;
    font-weight: bolder;
    position: relative;
    width: 80%;
    cursor: pointer;
    transition: .3s;
    margin: 2%;
    left: 9%;
    padding-bottom: 5vh;
  }
 
  .amberButton:hover{
      transition:.3s;
      text-indent: .5vh;
      text-decoration: underline;
      cursor: pointer;
      color: rgb(41, 41, 255);
  }

  .adminManageTeamHolder{
    display: block;
    max-height: 24vh;
    overflow-y: scroll;
    width: 50%;
    left: 25%;
    position: relative;
}

.removalClass{
    width: 7%;
    font-size: 2.3vh;
    border-radius: 25vh;
    height: 3vh;
    font-weight: bolder;
    text-align: center;
    background-color: rgb(150, 0, 0);
    color: white;
    cursor: pointer;
    transition: .2s;
}

.removalClass:hover{
    background-color: rgb(195, 0, 0);
    transition:.2s
}


.teamAddEditor{
    display: flex;
    flex-direction: row;
    background-color: #aaff9f;
    border-style: solid;
    width: 52%;
    z-index: 5;
    position: absolute;
    left: 24%;
    height: 4vh;
    border-width: .1vh;
    top: 3vh;
}

.teamAddInput{
    position: relative;
    width: 171vh;
    /* height: 2.3vh; */
    font-size: 2.8vh;
    height: 4vh;
}

.teamAddButton{
    width: 100%;
    text-align: center;
    font-size: 3.2vh;
    background-color: green;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

 
